{% block body -%}

		{% for livre in livres %}
			<p>
				Titre du livre : {{ livre.titre }}
				{% if livre.etat %}
					Ce livre est disponible
				{% else %}
					Ce livre n'est plus disponible
				{% endif %}
			</p>
		{% endfor %}

{% endblock %}
